body{
background-image: url(https://wallpaper.dog/large/5486790.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}
.navbar{
background-color: #80808045;
height: 60px;
border: 1px ridge grey;
border-bottom-right-radius: 35px;
border-start-start-radius: 35px;
display: flex;
justify-content: flex-end;
align-items: center;
flex-wrap: wrap;
}
.nav{
    color: white;
    background-color: blue;
    margin: 18px;
    width: 120px;
    height: 25px;
    text-align: center;
    text-decoration: underline blue;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
}
#heading{
text-shadow: 10px;
font-family: 'Dancing Script', cursive;
text-align: center;
}
.heading{
    margin: 70px;
}
